@use '../../../../../styles/variables.scss' as styles;
.item1{
  display: flex;
  width: 100%;
  border-bottom: solid styles.$accent 1px;
  padding: 1em 2em;
  .logo {
    height: 100px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    border-radius: 0.5rem;
  }
}
.imagePlaceHolder{
  border-radius: 10px;
  width: 4em;
  height: 4em;
  background-color: sandybrown;
}
.sometext{
  margin: 0 1em;
  width: 20em;
  vertical-align: top;
}
.okbutton{
  justify-content: flex-end;
  width: 6em;
  height: 3em;
  vertical-align: top;
  margin-left: auto;
  border: none;
  border-radius: 1.5em;
  background-color: #3facb7;
  color: styles.$background;
}
.X{
  height: 1.5em;
  margin-left: 1em;
  background: none;
  border: none;
}