$primary: #2F8F96;
$secondary: #0A1533;
$secondary-highlight: #072135;
$accent: #007B96;

$border-radius: 0.5rem;


$text-primary: #FFFFFF;
$text-primary-muted: transparentize($text-primary, 0.7);
$text-secondary: $primary;
$text-secondary-muted: desaturate($text-secondary, 40%);
$text-accent: $accent;


$background-base: $secondary;
$background-highlight: $secondary-highlight;
