@use "src/styles/variables" as var;
.main {
  display: block;
  padding: 1em;
  min-height: 10vh;
  border-bottom: solid var.$accent 1px;

  .btn{
    border: 1px solid var.$accent;
    border-radius: .4rem;
    background: #072135;
    padding: .4rem 1.6rem;
    margin: 1rem 0 0;
  }

  .title {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
}