@use '../../../../styles/variables' as styles;
::-webkit-scrollbar {
  width: 0;
}
.details{
  border: solid thin styles.$accent;
  background-color: styles.$background1;
  width: 50vw;
  min-height: 50vh;
  margin-top: 1rem;
  overflow-y: scroll;
  .noPointerEvents{
    pointer-events: none;
  }
}