@use "src/styles/variables" as var;
::-webkit-scrollbar {
  width: 0;
}
.details{
  border: solid thin var.$accent;
  background-color: var.$background-base;
  min-width: 50em;
  min-height: 50vh;
  margin-top: 1rem;
  overflow-y: scroll;
  .no-pointer-events{
    pointer-events: none;
  }
}