@use "src/styles/variables" as var;

.offer {
  display: flex;
  gap: 1rem;
  border: 2px solid transparent;
  height: 10rem;

  &:hover {
    display: flex;
    cursor: pointer;
    border: 2px dashed var.$text-primary-muted;

    h2 {
      color: var.$text-accent;
    }
  }

  .logo {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }

  .description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}