@use "src/styles/variables" as var;

$increase-animation-duration: 0.2s;

.offer {
  width: 100%;
  display: flex;
  gap: 1rem;
  border: 2px solid transparent;
  height: 10rem;
  box-shadow:
  0 0 20px transparentize(var.$primary, 1),
  0 0 50px transparentize(var.$primary, 1);
  transition:
          $increase-animation-duration width ease-out,
          $increase-animation-duration border ease-out,
          calc($increase-animation-duration * 2) box-shadow ease-out,
          $increase-animation-duration transform ease-out;

  &:hover {
    cursor: pointer;
    width: 102%;
    transform: translate(-1%, 0 );
    border: 2px dashed var.$text-primary-muted;
    box-shadow:
            0 0 20px transparentize(var.$primary, 0.9),
            0 0 50px transparentize(var.$primary, 0.8)
  ;

    h2 {
      color: var.$text-accent;
    }
  }

  .logo {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    border-radius: 0.5rem;
  }

  .description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}