@use 'src/styles/variables' as var;

.filter {
  cursor: pointer;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  border: 1px solid var.$primary;
  border-top: none;

  &--active {
    .filter__icon {
      transform: rotate(180deg);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    transition: all 0.2s ease;
  }

}