@use './styles/variables' as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  margin: 0 auto;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var.$primary;

  &:hover {
    background-color: transparentize(var.$primary, 0.2);
  }

  &:active {
    background-color: transparentize(var.$primary, 0.4);
  }
}

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var.$text-primary;
  background-color: var.$background-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// link how to do ThemeSwitcher
// https://www.youtube.com/watch?v=yjRv73QZ7tw
